* {
	box-sizing: border-box;
}

.cover {
	--height: 50rem;
	--width: calc(var(--height) * 0.625);

	background-image: url('../cover-textless.jpg');
	background-size: 100%;
	display: flex;
	flex-direction: column;
	height: var(--height);
	padding: calc(var(--height) * 0.025);
	width: var(--width);

	svg {
		background: transparent;

		/* path:nth-child(odd) {
			fill: color-mix(in oklab, silver, #fff 20%);
		}
		path:nth-child(even) {
			fill: color-mix(in oklab, silver, #000 20%);
		} */
	}

	.text-title {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		position: relative;

		text-align: center;

		--color: red;
		--color-darken: #00000066;
		--color-lighten: #ffffff66;

		.subtitle {
			position: relative;
			top: 1rem;
		}

		svg {
			display: inline-block;
			filter: drop-shadow(0 0 0.05rem #000);

			path {
				fill: transparent;
			}

			[data-glyph='a'] {
				path:nth-child(1) {
					fill: var(--color);
				}

				path:nth-child(3),
				path:nth-child(6),
				path:nth-child(7),
				path:nth-child(8),
				path:nth-child(10),
				path:nth-child(19) {
					fill: var(--color-lighten);
				}

				path:nth-child(12),
				path:nth-child(15),
				path:nth-child(17) {
					fill: var(--color-darken);
				}
			}
			[data-glyph='b'] {
				path:nth-child(1) {
					fill: var(--color);
				}

				path:nth-child(3),
				path:nth-child(4),
				path:nth-child(5),
				path:nth-child(11) {
					fill: var(--color-lighten);
				}

				path:nth-child(7),
				path:nth-child(8),
				path:nth-child(9) {
					fill: var(--color-darken);
				}
			}
			[data-glyph='d'] {
				path:nth-child(1) {
					fill: var(--color);
				}

				path:nth-child(2),
				path:nth-child(8),
				path:nth-child(10) {
					fill: var(--color-lighten);
				}

				path:nth-child(4),
				path:nth-child(6),
				path:nth-child(11) {
					fill: var(--color-darken);
				}
			}
			[data-glyph='E'] {
				path:nth-child(1) {
					fill: var(--color);
				}

				path:nth-child(3),
				path:nth-child(4),
				path:nth-child(6),
				path:nth-child(7),
				path:nth-child(10),
				path:nth-child(11) {
					fill: var(--color-lighten);
				}

				path:nth-child(9),
				path:nth-child(13) {
					fill: var(--color-darken);
				}
			}
			[data-glyph='e'] {
				path:nth-child(1) {
					fill: var(--color);
				}

				path:nth-child(2),
				path:nth-child(3),
				path:nth-child(4),
				path:nth-child(6),
				path:nth-child(7),
				path:nth-child(10),
				path:nth-child(12) {
					fill: var(--color-lighten);
				}

				path:nth-child(9),
				path:nth-child(11),
				path:nth-child(13) {
					fill: var(--color-darken);
				}
			}
			[data-glyph='f'] {
				path:nth-child(1) {
					fill: var(--color);
				}

				path:nth-child(6),
				path:nth-child(7),
				path:nth-child(12),
				path:nth-child(13) {
					fill: var(--color-lighten);
				}

				path:nth-child(2),
				path:nth-child(5),
				path:nth-child(10),
				path:nth-child(11),
				path:nth-child(14),
				path:nth-child(15) {
					fill: var(--color-darken);
				}
			}
			[data-glyph='G'] {
				path:nth-child(1) {
					fill: var(--color);
				}

				path:nth-child(3),
				path:nth-child(4),
				path:nth-child(9),
				path:nth-child(14),
				path:nth-child(15) {
					fill: var(--color-lighten);
				}

				/* path:nth-child(2), */
				path:nth-child(6),
				path:nth-child(7),
				path:nth-child(10),
				path:nth-child(11),
				path:nth-child(12),
				path:nth-child(17) {
					fill: var(--color-darken);
				}
			}
			[data-glyph='h'] {
				path:nth-child(1) {
					fill: var(--color);
				}

				path:nth-child(3),
				path:nth-child(8),
				path:nth-child(9),
				path:nth-child(11),
				path:nth-child(12) {
					fill: var(--color-lighten);
				}

				path:nth-child(5),
				path:nth-child(6),
				path:nth-child(7),
				path:nth-child(10),
				path:nth-child(14),
				path:nth-child(15) {
					fill: var(--color-darken);
				}
			}
			[data-glyph='i'] {
				path:nth-child(1),
				path:nth-child(2) {
					fill: var(--color);
				}

				path:nth-child(3),
				path:nth-child(4),
				path:nth-child(5),
				path:nth-child(10),
				path:nth-child(11),
				path:nth-child(12),
				path:nth-child(13),
				path:nth-child(14) {
					fill: var(--color-lighten);
				}

				path:nth-child(7),
				path:nth-child(8),
				path:nth-child(16),
				path:nth-child(17) {
					fill: var(--color-darken);
				}
			}
			[data-glyph='l'] {
				path:nth-child(1) {
					fill: var(--color);
				}

				path:nth-child(3),
				path:nth-child(4),
				path:nth-child(5),
				path:nth-child(6),
				path:nth-child(7) {
					fill: var(--color-lighten);
				}

				path:nth-child(9),
				path:nth-child(10) {
					fill: var(--color-darken);
				}
			}
			[data-glyph='m'] {
				path:nth-child(1) {
					fill: var(--color);
				}

				path:nth-child(3),
				path:nth-child(4),
				path:nth-child(5),
				path:nth-child(6),
				path:nth-child(12) {
					fill: var(--color-lighten);
				}

				path:nth-child(8),
				path:nth-child(9),
				path:nth-child(11),
				path:nth-child(14),
				path:nth-child(15) {
					fill: var(--color-darken);
				}
			}
			[data-glyph='N'] {
				path:nth-child(1) {
					fill: var(--color);
				}

				path:nth-child(3),
				path:nth-child(4),
				path:nth-child(5),
				path:nth-child(8),
				path:nth-child(9),
				path:nth-child(14) {
					fill: var(--color-lighten);
				}

				path:nth-child(11),
				path:nth-child(12),
				path:nth-child(13),
				path:nth-child(16),
				path:nth-child(17) {
					fill: var(--color-darken);
				}
			}
			[data-glyph='n'] {
				path:nth-child(1) {
					fill: var(--color);
				}

				path:nth-child(3),
				path:nth-child(4),
				path:nth-child(9) {
					fill: var(--color-lighten);
				}

				path:nth-child(6),
				path:nth-child(7),
				path:nth-child(8),
				path:nth-child(11),
				path:nth-child(12) {
					fill: var(--color-darken);
				}
			}
			[data-glyph='o'] {
				path:nth-child(1) {
					fill: var(--color);
				}

				path:nth-child(2),
				path:nth-child(9) {
					fill: var(--color-lighten);
				}

				path:nth-child(4),
				path:nth-child(7) {
					fill: var(--color-darken);
				}
			}
			[data-glyph='p'] {
				path:nth-child(1) {
					fill: var(--color);
				}

				path:nth-child(4),
				path:nth-child(6),
				path:nth-child(11) {
					fill: var(--color-lighten);
				}

				path:nth-child(2),
				path:nth-child(8),
				path:nth-child(10) {
					fill: var(--color-darken);
				}
			}
			[data-glyph='r'] {
				path:nth-child(1) {
					fill: var(--color);
				}

				path:nth-child(3),
				path:nth-child(4),
				path:nth-child(5),
				path:nth-child(6),
				path:nth-child(7),
				path:nth-child(9) {
					fill: var(--color-lighten);
				}

				path:nth-child(11),
				path:nth-child(12) {
					fill: var(--color-darken);
				}
			}
			[data-glyph='s'] {
				path:nth-child(1) {
					fill: var(--color);
				}

				path:nth-child(2),
				path:nth-child(3),
				path:nth-child(4),
				path:nth-child(6),
				path:nth-child(7) {
					fill: var(--color-lighten);
				}

				path:nth-child(9),
				path:nth-child(10),
				/* path:nth-child(11), */
				path:nth-child(12),
				path:nth-child(13) {
					fill: var(--color-darken);
				}
			}
			[data-glyph='t'] {
				path:nth-child(1) {
					fill: var(--color);
				}

				path:nth-child(3),
				path:nth-child(4),
				path:nth-child(5),
				path:nth-child(6),
				path:nth-child(9),
				path:nth-child(10),
				path:nth-child(11),
				path:nth-child(12) {
					fill: var(--color-lighten);
				}
				path:nth-child(2),
				path:nth-child(8),
				path:nth-child(13),
				path:nth-child(14),
				path:nth-child(15) {
					fill: var(--color-darken);
				}
			}

			[data-glyph=':'] {
				path:nth-child(1),
				path:nth-child(2) {
					fill: var(--color);
				}

				path:nth-child(3),
				path:nth-child(4),
				path:nth-child(5),
				path:nth-child(11),
				path:nth-child(12),
				path:nth-child(13) {
					fill: var(--color-lighten);
				}

				path:nth-child(7),
				path:nth-child(8),
				path:nth-child(9),
				path:nth-child(14) {
					fill: var(--color-darken);
				}
			}
		}

		.space {
			display: inline-block;
			width: var(--space-width);
		}
	}

	.text-author {
		display: flex;
		flex-direction: column;
		height: 5rem;
		margin: 0 auto;
		margin-top: calc(var(--height) * 0.66);
		text-align: center;
		width: 80%;
	}
}

svg {
	background: #fc0;
}
