main {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 1rem;
}
div {
	--spacing: 0.5rem;

	background: #eeee;
	padding-left: var(--spacing);

	svg {
		height: 200px;
		margin-right: var(--spacing);
		width: auto;
	}
}
